<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--pom.xml-->
    <!--thymeleaf模板 begin-->
<!--    <dependency>-->
<!--        <groupId>org.springframework.boot</groupId>-->
<!--        <artifactId>spring-boot-starter-thymeleaf</artifactId>-->
<!--    </dependency>-->
<!--    <dependency>-->
<!--        <groupId>org.thymeleaf.extras</groupId>-->
<!--        <artifactId>thymeleaf-extras-springsecurity5</artifactId>-->
<!--    </dependency>-->
    <!--thymeleaf模板 end-->
    <div sec:authorize="hasRole('ROLE_ADMIN')"></div>
    <div th:text="${#session.username}"></div>
</body>
</html>